@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Ysabeau+Infant:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
body {
  font-family: "Playfair Display", serif;
  font-family: "Ysabeau Infant", sans-serif;
  font-family: "Kanit", sans-serif;
}

/*---------Header---------*/
.Head_Nobel {
  text-align: center;
  height: 100px;
  background-color: orange;
  font-size: 50px;
  color: #000;
  border: 10px solid white;
}

/*---------Details---------*/
.Details_Nobel {
  display: flex;
  height: 830px;
  border: 10px solid white;
}

/*---------Filter---------*/
.Details_Filters {
  text-align: -webkit-center;
  padding-top: 100px;
  width: 50%;
  background-color: orange;
  border-right: 10px solid white;
}

.select_AD {
  width: 50%;
  margin-bottom: 20px;
}

.Button_Apply {
  background-color: navy;
}

/*---------Details Nobel Prize---------*/
.Details_Nobel_Prize {
  width: 50%;
  background-color: orange;
  border-left: 10px solid white;
}
.Details_Nobel_Prize p {
  padding: 3%;
  font-size: 20px;
  text-align: start;
 
}

@media only screen and (max-width: 700px) {
  body{
    background-color: orange;
  }
  .Head_Nobel {
    font-size: 40px;
    border: 0px solid orange;
  }
  
  /*---------Details---------*/
  .Details_Nobel {
    display: block;
    height: 830px;
    border: 0px solid orange;
  }
  
  /*---------Filter---------*/
  .Details_Filters {
    padding-top: 50px;
    width: 100%;
    border-right: 0px solid white;
  }
  
  .select_AD {
    width: 50%;
  }
  
  .Button_Apply {
    background-color: navy;
  }
  
  /*---------Details Nobel Prize---------*/
  .Details_Nobel_Prize {
    margin-top: -2px;
    width: 100%;
    border-left: 0px solid white;
  }
  .Details_Nobel_Prize p {
    padding: 5%;
    font-size: 18px;
  
   
  }
 
}

